<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.thymeleaf.org">
<head>
    <meta charset="UTF-8">
    <title>Userlist</title>
</head>
<body>
<h1>Users List:</h1>
<table>
    <thead>
    <tr>
        <th> Email</th>
        <th> Login</th>
        <th> Password</th>
    </tr>
    </thead>
    <tbody>
    <tr th:if="${users.empty}">
        <td colspan="2"> No users found</td>
    </tr>
    <tr th:each="user : ${users}">
        <td><span th:text="${user.email}"> Email </span></td>
        <td><span th:text="${user.login}"> Login </span></td>
        <td><span th:text="${user.password}"> Password </span></td>
        <td>
            <form action="#" th:action="'/user/delete_user/' + ${user.email}" method="post">
                <button th:id="'table_entry_user_button_' + ${user.email}" type="submit">
                    <i>X</i>
                </button>
            </form>
            <form action="#" th:action="'/user/edit_user/' + ${user.email}" method="post">
                <button th:id="'table_entry_user_button_' + ${user.email}" type="submit">
                    <i>Edit</i>
                </button>
            </form>
        </td>
    </tr>
    </tbody>
</table>
</body>
</html>