<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.w3.org/1999/xhtml">
<head>
    <meta charset="UTF-8">
    <title>EditUser</title>
</head>
<body>
<h1>Editing User</h1>
<form action="#" th:action="'/user/submit_edited_user/' + ${user.email}" method="post" th:each="user : ${user}">
    <input type="text" name="email" th:value="${user.email}">
    <input type="text" name="login" th:value="${user.login}">
    <input type="text" name="password" th:value="${user.password}">

    <button type="submit">Submit editing</button>
</form>
</body>
</html>